#app {
    width: 960px;
    margin: 0 auto;
}

.drag-item {
    width: 100%;
    padding: 15px;
    background-color: #f2f2f2;
    border: 2px solid white;
    border-radius: 15px;
}

.drag-item:active {
    border: 1px solid red;
}

.reset {
    float: right;
}